spring:
  profiles:
    active: @env@
  jackson:
    serialization:
      write-dates-as-timestamps: true
  cache:
    redis:
      time-to-live: 1800000

mybatis:
  mapper-locations: classpath*:mapper/*Mapper.xml

logging:
  config: classpath:log4j2-@env@.yml

app:
  version: @project.version@